@tailwind base;
@tailwind components;

@tailwind utilities;


.group img {
  transition: opacity 0.3s ease-in-out;
}
.group:hover .group-hover\\:opacity-0 {
  opacity: 0;
}

.group:hover .group-hover\\:opacity-100 {
  opacity: 1;
}
.img-shadow {
  -webkit-filter: drop-shadow(0px 0px 1px #e1dddd );
  filter: drop-shadow(0px 0px 1px #f2f2f2);
 cursor: pointer;
  transition:1.5s;

  
}
.img-shadow:hover {
  transform:scale(1.05);
  -webkit-filter: drop-shadow(0px 0px 1px #f8f8f8);
  filter: drop-shadow(0px 0px 1px #eeeded);
}
::-webkit-scrollbar {
  width: 6px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: #ca2020;
  border-radius: 3px;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 38px!important;
  line-height: 1;
  opacity: .75;
  color: #dadada!important;
  -webkit-font-smoothing: antialiased;
}